{% load utility %}

<div class="card my-3 mx-3 product-item" style="width: 18rem;">
    <a href="{% url 'catalog:detail' pk=id %}"><img class="card-img-top" src={{ product.image.value.url }}
                                                    alt="{{ product.name }}"></a>
    <div class="card-body">
        <a href="{% url 'catalog:detail' pk=id %}" class="card-title">{{ product.name }}</a>
        <hr>
        <p class="card-text">{{ product.short_desc }}</p>

    </div>
    <ul class="list-group list-group-flush">
        {% if user.is_superuser %}
        <li class="list-group-item"><a href="{% url 'catalog:update' pk=id %}">Редактировать</a></li>
        <li class="list-group-item"><a href="{% url 'catalog:delete' pk=id %}">Удалить</a></li>
        {% endif %}
        <div class="d-flex justify-content-between">
            <li class="list-group-item">Цена: {{ product.price }}&#8381;</li>
            <button itemid="{{ product.id }}" class="list-group-item"><a href="#" class="btn btn-primary">Купить</a></button>
        </div>
    </ul>
</div>

