{% extends 'server/master.html' %}

<title>
    {% block page_title %}
    {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
    <h4>Профиль.</h4>
    <form action="{% url 'accounts:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in edit_form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <input class="form-control my-1" type="submit" value="Submit">
    </form>
    {% endblock %}
</div>
