{% extends 'server/master.html' %}

<title>
    {% block page_title %}
    {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
    <h3 class="prod_name">Вход</h3>
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {% for field in login_form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <input class="form-control" type="submit" , value="Submit">
    </form>
    <form action="{% url 'social:begin' 'google-oauth2' %}?next=/">
        <button href=class="button">Вход через Google+</button>
    </form>
    {% endblock %}
</div>
