{% extends 'server/master.html' %}
{% load static %}

<title>
    {% block page_title %}
    {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
    {% csrf_token %}
    <h3>Корзина</h3>
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" value="Наименование">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" readonly class="form-control-plaintext" value="Количество">
        </div>
    </form>
    <div class="product-list"></div>
    <div class="control-panel"></div>
    {% endblock %}
</div>
{% block page_js %}
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/basket/submit.js' %}"></script>
<script src="{% static 'js/basket/items.js' %}"></script>

<script>
    const emptyText = 'Корзина пуста';
    const mainUrl = '{% url "catalog:catalog" %}';
    const createPurchaseUrl = '{% url "catalog:catalog" %}';
    const tokenInput = document.querySelector('[name=csrfmiddlewaretoken]');
    const productsList = document.querySelector('.product-list');
    const controlPanlel = document.querySelector('.control-panel');
    const items = getLocalValue('products');
    const identityList = Object.keys(items);
    console.log(tokenInput)
    if (identityList.length <= 0) {
        productsList.appendChild(
            createEmptyMock(mainUrl, emptyText)
        );
    } else {
        const productsUrl = `{% url 'api:productdetail-list' %}?id__in=${identityList.join(',')}`;
        fetch(productsUrl)
            .then(response => response.json())
            .then(data => {
                data.results.map(
                    itm => productsList.innerHTML += renderItem(itm, items[itm.pk])
                )
            })

        controlPanlel.appendChild(
            createCartSubmit(createPurchaseUrl, tokenInput.value)
        );
    }
</script>
{% endblock %}
