{% extends 'server/master.html' %}

<title>
    {% block page_title %}
    {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
    <h3>Корзина</h3>
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" value="Наименование">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" readonly class="form-control-plaintext" value="Количество">
        </div>
    </form>
    {% for item in results %}
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext"value="{{item}}">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="number" class="form-control" value="1">
        </div>
    </form>
    {% endfor %}
    <button type="submit" class="btn btn-primary mb-2">Оформить заказ</button>
    {% endblock %}
</div>
