{% load utility %}

{#<a href="{% url 'detail' pk=id %}"><img src="/static/img/shur.jpg" alt="{{title|default:'Product not found'|title}}" class="prod_img"><br>{{title|default:'Product not found'|title}}</a>#}

<a href="{% url 'detail' pk=id %}"><img src={{ product.image.value.url }} alt="{{ product.name }}" class="prod_img"><br>{{ product.name }}</a>