{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div class="top">
    <div class="header navbar-fixed-top p-2 bg-light text-dark">
        <div class="container d-flex justify-content-between">
            <ul class="menu nav nav-pills nav-fill">
                <li class="nav-item"><a class="nav-link active" href="/">Atlen Store</a></li>
            </ul>
            <ul class="menu nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="/catalog/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Каталог
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" id="categories" href=""></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/edit/">Профиль</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">Выход</a></li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Регистрация</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link basket" href="/basket/"><i class="fas fa-shopping-basket"></i></a>
                </li>

            </ul>
            <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
            <script>
                axios.get('http://127.0.0.1:8000/api/categories/').then(renderData)
            </script>
        </div>
    </div>
</div>

<div class="container">
    <div class="content jumbotron">
        {% block page_content %}
        {% endblock %}
    </div>
</div>

<div class="footer fixed-bottom p-2 bg-light text-dark">
    <div class="container">
        <ul class="menu nav nav-pills nav-fill">
            <li class="nav-item text-right"><p>&copy; Все права защищены.</p></li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% block page_js %}
{% endblock %}
</body>

</html>
