{% extends 'server/master.html' %}

<title>
    {% block page_title %}
    Контакты
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
    <h4>Напишите нам.</h4>
    <form action="submit" class="form-group">
        <!--<div class="form-group">-->
        <input type="text" readonly class="form-control my-1" placeholder="{{ user.username|title }}">
        <input type="email" class="form-control my-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
        <input type="text" class="form-control my-1" placeholder="Тема">
        <textarea class="form-control my-1" name="Сообщение" placeholder="Сообщение" rows="5"></textarea>
        <button type="submit" class="btn btn-primary mx-1 my-1">Отправить</button>
        <button type="reset" class="btn btn-secondary mx-1 my-1">Сбросить</button>
        <!--</div>-->
    </form>
    <h4>Адрес:</h4>
    <lu>
        <li><b>Телефон:</b> +74991234578</li>
        <li><b>Адрес:</b> 2-й квартал Капотня, 4</li>
        <li><b>E-mail:</b> info@atlen.ru</li>
        <br>
    </lu>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab348a448a97ee7778bd06071bd02cfb105ff26c9061e043edd132458631f9817&amp;width=100%&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
    {% endblock %}
</div>

