{% extends 'server/master.html' %}

<title>
    {% block page_title %}
    Atlen Store
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
    <h3>Атлен</h3>
    <p>Вас приветсвует строительный магазин Атлен!</p>
    {% endblock %}

</div>