{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
        <h3 class="prod_name"> </h3>
        <p>{{ response }}</p>
    {% endblock %}
</div>