{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
        <h3 class="prod_name">Категории Товаров</h3>
        <div class="catalog">
            {% for item in results %}
                {% include 'catalog/components/category.html' with category=item id=item.pk %}
            {% endfor %}
        </div>
        <script>
        console.log(window.location)

        let socket_url = 'ws://' + window.location.host + window.location.pathname

        let socket = new WebSocket(socket_url)

        socket.onmessage = function(event){
            console.log(event)
        }

        socket.onopen = function(event){
            console.log(event)
        }

        socket.onclose = function(event){
            console.log(event)
        }



        console.log(socket_url)


    </script>
    {% endblock %}

</div>