{% extends 'server/master.html' %}

{% load static %}

<title>
    {% block page_title %}
    {{ title|title }}
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
    <h3>Каталог</h3> <!--TODO поменять на название категории-->
    <div class="d-flex flex-nowrap justify-content-center product-list">
        {% for item in results %}
        {% include 'catalog/components/product.html' with product=item id=item.pk %}
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</div>
{% block page_js %}
<script src="{% static 'js/counter.js' %}"></script>
<script>
    const items = document.querySelectorAll('.product-item');
    items.forEach(
        itm => {
            console.log(itm);
            const btn = itm.querySelector('button')
            btn.addEventListener(
                'click',
                evt => {
                    incLocalValue(
                        'products', btn.getAttribute('itemid')
                    )
                }
            )
        }
    );
</script>
{% endblock %}
